[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = "true"

[packages]
uvicorn = ">=0.11.7"
gunicorn = "*"
fastapi = {extras = ["all"],version = "*"}
alembic = "*"
psycopg2-binary = "*"
shapely = "*"
sqlalchemy = "*"
geoalchemy2 = "<0.8.0"
sqlakeyset = "*"
stac-pydantic = ">=1.3.5"
pydantic = {extras=["dotenv"], version="*"}
cogeo-mosaic = "==3.0a10"
titiler = "==0.1a2"
pycognito = "==0.1.4"
jose = "==1.0.0"
boto3 = "==1.14.27"
httpx = "==0.13.3"
python-dotenv = "==0.14.0"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
requests = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
