site_name: stac-fastapi
site_description: STAC FastAPI.

# Repository
repo_name: "stac-utils/stac-fastapi"
repo_url: "https://github.com/stac-utils/stac-fastapi"
edit_uri: "blob/main/docs/src/"

docs_dir: 'src'
site_dir: 'build'

# Social links
extra:
  social:
    - icon: "fontawesome/brands/github"
      link: "https://github.com/stac-utils"

# Layout
nav:
  - Home: "index.md"
  - Tips and Tricks: tips-and-tricks.md
  - API:
      - packages: api/stac_fastapi/index.md
      - stac_fastapi.api:
          - module: api/stac_fastapi/api/index.md
          - app: api/stac_fastapi/api/app.md
          - config: api/stac_fastapi/api/config.md
          - errors: api/stac_fastapi/api/errors.md
          - middleware: api/stac_fastapi/api/middleware.md
          - models: api/stac_fastapi/api/models.md
          - openapi: api/stac_fastapi/api/openapi.md
          - routes: api/stac_fastapi/api/routes.md
      - stac_fastapi.extensions:
          - module: api/stac_fastapi/extensions/index.md
          - core:
              - module: api/stac_fastapi/extensions/core/index.md
              - aggregation:
                - module: api/stac_fastapi/extensions/core/aggregation/index.md
                - aggregation: api/stac_fastapi/extensions/core/aggregation/aggregation.md
                - client: api/stac_fastapi/extensions/core/aggregation/client.md
                - request: api/stac_fastapi/extensions/core/aggregation/request.md
                - types: api/stac_fastapi/extensions/core/aggregation/types.md
              - collection_search:
                - module: api/stac_fastapi/extensions/core/collection_search/index.md
                - collection_search: api/stac_fastapi/extensions/core/collection_search/collection_search.md
                - client: api/stac_fastapi/extensions/core/collection_search/client.md
                - request: api/stac_fastapi/extensions/core/collection_search/request.md
              - fields:
                  - module: api/stac_fastapi/extensions/core/fields/index.md
                  - fields: api/stac_fastapi/extensions/core/fields/fields.md
                  - request: api/stac_fastapi/extensions/core/fields/request.md
              - filter:
                  - module: api/stac_fastapi/extensions/core/filter/index.md
                  - filter: api/stac_fastapi/extensions/core/filter/filter.md
                  - request: api/stac_fastapi/extensions/core/filter/request.md
              - free_text:
                - module: api/stac_fastapi/extensions/core/free_text/index.md
                - free_text: api/stac_fastapi/extensions/core/free_text/free_text.md
                - request: api/stac_fastapi/extensions/core/free_text/request.md
              - multi_tenant_catalogs:
                - module: api/stac_fastapi/extensions/core/multi_tenant_catalogs/index.md
                - catalogs: api/stac_fastapi/extensions/core/multi_tenant_catalogs/catalogs.md
                - client: api/stac_fastapi/extensions/core/multi_tenant_catalogs/client.md
                - types: api/stac_fastapi/extensions/core/multi_tenant_catalogs/types.md
              - pagination:
                  - module: api/stac_fastapi/extensions/core/pagination/index.md
                  - pagination: api/stac_fastapi/extensions/core/pagination/pagination.md
                  - offset_pagination: api/stac_fastapi/extensions/core/pagination/offset_pagination.md
                  - token_pagination: api/stac_fastapi/extensions/core/pagination/token_pagination.md
                  - request: api/stac_fastapi/extensions/core/pagination/request.md
              - query:
                  - module: api/stac_fastapi/extensions/core/query/index.md
                  - query: api/stac_fastapi/extensions/core/query/query.md
                  - request: api/stac_fastapi/extensions/core/query/request.md
              - sort:
                  - module: api/stac_fastapi/extensions/core/sort/index.md
                  - request: api/stac_fastapi/extensions/core/sort/request.md
                  - sort: api/stac_fastapi/extensions/core/sort/sort.md
              - transaction: api/stac_fastapi/extensions/core/transaction.md
          - third_party:
              - module: api/stac_fastapi/extensions/third_party/index.md
              - bulk_transactions: api/stac_fastapi/extensions/third_party/bulk_transactions.md
      - stac_fastapi.types:
          - module: api/stac_fastapi/types/index.md
          - config: api/stac_fastapi/types/config.md
          - conformance: api/stac_fastapi/types/conformance.md
          - core: api/stac_fastapi/types/core.md
          - errors: api/stac_fastapi/types/errors.md
          - extension: api/stac_fastapi/types/extension.md
          - links: api/stac_fastapi/types/links.md
          - requests: api/stac_fastapi/types/requests.md
          - rfc3339: api/stac_fastapi/types/rfc3339.md
          - search: api/stac_fastapi/types/search.md
          - stac: api/stac_fastapi/types/stac.md
  - Migration Guides:
    - v2.5 -> v3.0: migrations/v3.0.0.md
    - v3.0 -> v4.0: migrations/v4.0.0.md
  - Performance Benchmarks: benchmarks.html
  - Development - Contributing: "contributing.md"
  - Release Notes: "release-notes.md"

plugins:
  - search
  - mkdocstrings:
      enable_inventory: true
      handlers:
        python:
          paths: [src]
          options:
            docstring_section_style: list
            docstring_style: google
            line_length: 100
            separate_signature: true
            show_root_heading: true
            show_signature_annotations: true
            show_source: false
            show_symbol_type_toc: true
            signature_crossrefs: true
            extensions:
              - griffe_inherited_docstrings
          inventories:
            - https://docs.python.org/3/objects.inv
            - https://docs.pydantic.dev/latest/objects.inv
            - https://fastapi.tiangolo.com/objects.inv
            - https://www.starlette.io/objects.inv
            - https://www.attrs.org/en/stable/objects.inv

# Theme
theme:
  icon:
    logo: "material/home"
    repo: "fontawesome/brands/github"
  name: "material"
  language: "en"
  font:
    text: "Nunito Sans"
    code: "Fira Code"

extra_css:
  - stylesheets/extra.css

# These extensions are chosen to be a superset of Pandoc's Markdown.
# This way, I can write in Pandoc's Markdown and have it be supported here.
# https://pandoc.org/MANUAL.html
markdown_extensions:
  - admonition
  - attr_list
  - codehilite:
      guess_lang: false
  - def_list
  - footnotes
  - pymdownx.arithmatex
  - pymdownx.betterem
  - pymdownx.caret:
      insert: false
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.escapeall:
      hardbreak: true
      nbsp: true
  - pymdownx.magiclink:
      hide_protocol: true
      repo_url_shortener: true
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - toc:
      permalink: true
