name: Publish docs via GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      # Rebuild website when docs have changed or code has changed
      - "README.md"
      - "docs/**"
      - "mkdocs.yml"
      - "**.py"

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main
        uses: actions/checkout@v3

      - name: Set up Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e \
            stac_fastapi/api \
            stac_fastapi/types \
            stac_fastapi/extensions \
            stac_fastapi/sqlalchemy
          python -m pip install mkdocs mkdocs-material pdocs

      - name: update API docs
        run: |
          pdocs as_markdown \
            --output_dir docs/api/ \
            --exclude_source \
            --overwrite \
            stac_fastapi
        env:
          POSTGRES_USER: username
          POSTGRES_PASS: password
          POSTGRES_DBNAME: postgis
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
          POSTGRES_HOST_READER: localhost
          POSTGRES_HOST_WRITER: localhost

      - name: Deploy docs
        run: mkdocs gh-deploy --force
