name: Publish

on:
  push:
    tags:
      - "*"

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.*" 
          enable-cache: true
    
      - name: Build and publish package
        env:
          UV_PUBLISH_USERNAME: ${{ secrets.PYPI_STACUTILS_USERNAME }}
          UV_PUBLISH_PASSWORD: ${{ secrets.PYPI_STACUTILS_PASSWORD }}
        run: |
          scripts/publish
